<div class="container-fluid">
    <h2>Registration Form</h2>
    <form action="" [formGroup]="registrationForm">
    {{registrationForm.value | json}}

        <div class="form-group">
            <label for="">UserName</label>
            <input type="text" [class.is-invalid]="userName?.invalid && userName?.touched" formControlName="userName"
                class="form-control">
            <!-- <small [class.d-none]="userName?.valid || userName?.untouched" class="text-danger">This is a required field</small> -->
            <div *ngIf="userName?.invalid && userName?.touched">
                <small class="text-danger" *ngIf="userName?.errors?.['minlength']"> Min 3 characters are
                    required</small>
                <small class="text-danger" *ngIf="userName?.errors?.['required']"> This is required feild</small>
            </div>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" formControlName="email" class="form-control">
            <small *ngIf="email?.errors?.['required'] && email?.touched">required field</small>
        </div>
        <button (click)="addAlternateEmail()">Add Email</button>
        <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls;let i=index">
            <input type="text" [formControlName]="i">
        </div>
        <div class="form-group">
            <label for="">Subscribe</label>
            <input type="checkbox" formControlName="subscribe" class="form-check-input">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control">
            <small *ngIf="registrationForm?.errors?.['misMatch']">Passwords do not match</small>
        </div>
        <div class="from-Group" formGroupName="address">
            <label for="">City</label>
            <input type="text" formControlName="city" class="form-control">
            <label for="">State</label>
            <input type="text" formControlName="state" class="form-control">
            <label for="">Postal Code</label>
            <input type="number" formControlName="postalCode" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>